body {
    margin-top: 30px;
    height: 90%;
}

html {
    height: 90%;
}

p {
    text-align: center;
}

h1 {
    text-align: center;
    padding: 30px;
    letter-spacing: +2;
    text-transform: uppercase;
}

h4 {
    text-align: center;
    text-transform: uppercase;
    padding-top: 7px;
}



    /*-- ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ Navbar ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ --*/
    

.navbar {
    background-color: white!important; 
    box-shadow: none!important; 
    border: none!important; 
    text-transform: uppercase;
}

.navbar-brand {
    color:black!important;
}

.nav li a {
    color:black!important;
}

    /*-- ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ Landing thing ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ --*/

.landingphoto {
    background-image: url("../images/monkees.jpg");
    height: 70%; 
    width: 100%; 
    background-attachment: fixed;
    background-position:center;
    background-repeat: no-repeat;
    background-size:cover;
}

    /*-- ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ About section ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ --*/

.about {
    background-color: white;
}

.about-text {
    padding: 50px;
}

.about img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-width: 100%;
    height: auto;
}

    /*-- ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ Music section ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ --*/

.music {
    background-color: pink;
    padding-bottom: 50px;
}

.music a {
    color:purple;
}

.music a:hover {
    color:black;    
}

.music h5 {
    text-transform: uppercase;
    padding-top: 7px;
    padding-left: 20px;
}


.album img {
    float:left;
} 

.songlist {
    padding-left: 10px;
    display: inline-block;
}

video {
    max-width:700px;
    width:100%;
    height:auto;
    margin-top: 50px;
}

.musicvideo {
    text-align: center;
}

    /*-- ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ Tour section ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ --*/

.tour {
    background-color: hotpink;
    padding-bottom: 50px;
}

.table {
    border-style: hidden;
    max-width: 100%;
}

.lead {
    margin-top: 10px;
}

.tour img {
    display: block;
    max-width: 100%;
    height: auto;
}

p {
    font-size: 100%;
}

    /*-- ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ Contact ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ --*/

.contact {
    background-color: white;
    padding-bottom: 100px;
}

.contactbutton {
    float:center;
}

.contact img {
    display: block;
    max-width: 100%;
    height: auto;
    margin-left: auto;
    margin-right: auto;
}


    /*-- ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ Footer ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ --*/

.footer {
    height:70px;
    background-color: white;
    text-align: center;
    width: 100%;
    padding-top: 10px;
}

.fa-facebook {
    font-size: 250%;
    padding-left: 5px;
    padding-right: 5px;
    color:black;
}

.fa-youtube {
    font-size: 250%;
    padding-left: 5px;
    padding-right: 5px;
    color:black;
}

.fa-twitter {
    font-size: 250%;
    padding-left: 5px;
    padding-right: 5px;
    color:black;
}

.footer p {
    color:gray;
    font-size: 80%;
}

.footer a {
    
}