
    /*-- ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ General ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ --*/

body {
    height: 100%;
}

html {
    height: 100%;
}

p {
    text-align: center;
    font-family: 'Barlow', sans-serif;
    color:#333333;
}

h1 {
    text-align: center;
    letter-spacing: 6px;
    text-transform: uppercase;
    font-family: 'Permanent Marker', cursive;
    font-size: 3.2em;
    color:#0E3E66;
}

.title-div {
    padding-top:15px;
    padding-bottom:20px;
    
}

    /*-- ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ Navbar ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ --*/
    


.navbar {
    background-color: #1E1E1E!important; 
    box-shadow: none!important; 
    border: none!important; 
    text-transform: uppercase;
    letter-spacing: 3px;
}

.navbar-default .navbar-toggle .navbar-toggle:focus, .navbar-default:hover .navbar-toggle:hover {
    background-color: #1e1e1e!important;
    border-color: #1e1e1e!important;
}

.nav li a {
    color:#D9CAB3!important;
    font-weight: bold;
    text-align: center;
}

.nav a:hover {
    color:#BF4342!important;    
}



    /*-- ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ Landing thing ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ --*/

.landing-photo {
    background-image: url("../images/monkees.jpg");
    height:40%; 
    background-attachment: fixed;
    background-position: 50% 13%;
    background-repeat: no-repeat;
    background-size:125%;
    background-color:#1E1E1E;
}


    /*-- ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ About section ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ --*/



.about {
    background-color: #D9CAB3;
}

.about h4 {
    text-align: center;
    text-transform: uppercase;
    padding-top: 3px;
    font-family: 'Poppins', sans-serif;
}

.instrument {
    font-family: 'Barlow', sans-serif;
    padding-top: 0px;
}

.about-text p {
    text-align: left;
    padding-bottom: 20px;
    font-size: 1.1em;
}

.mobile-only-photo-text {
    font-size: 0.9em;
    padding-top: 8px;
    padding-bottom: 8px;
    font-family: 'Poppins', sans-serif;
}

.about img {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

    /*-- ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ Music section ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ --*/

.music {
    background-color: #F4EEE3;
    font-family: 'Didact Gothic', sans-serif;
}

.music i {
    color: #333333;
    font-size: 0.9em;
}

.music i:hover {
    color:#94B9AF;    
}

.music h5 {
    font-family: 'Poppins', sans-serif;
    text-transform: uppercase;
    padding-top: 6px;
    padding-bottom: 2px;
    font-size: 1.5em;
    text-align: center;
    color: #333333;
}

.music li {
    font-size: 0.9em;
    text-align: left;
    font-weight: lighter;
    font-family: 'Barlow', sans-serif;
}


.album {
    padding-bottom: 20px;
    text-align: center;
}

.album-center {
    display: inline-block;
}

video {
    width:90%;
    padding-bottom: 15px;
}

.music-video {
    text-align: center;
}

.video-text {
    color:#BF4342;
    font-size: 1.1em;
    font-family:"Permanent Marker"
}

    /*-- ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ Tour section ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ --*/

.tour {
    background-color: #D9CAB3;
}

.tour p {
    font-size: 0.89em;
}

.tour img {
    display: block;
    max-width: 80%;
    height: auto;
    margin-left: auto;
    margin-right: auto;
    margin-bottom:30px;
}

.custom-button {
    font-family: 'Barlow', sans-serif;
    border-color: #333333;
    background-color: #F4EEE3;
}

.custom-button:hover {
    font-family: 'Barlow', sans-serif;
    border-color: #333333;
    background-color: #BF4342;
}

    /*-- ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ Book Us ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ --*/

.book-us {
    background-color:#F4EEE3;
    font-family: 'Didact Gothic', sans-serif;
    text-align: center;
}

.custom-form {
    font-family: 'Barlow', sans-serif;
    border-color: #333333;
    background-color: #F4EEE3;
}

.div-bottom-padding {
    padding-bottom: 60px;
}

    /*-- ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ Footer ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ --*/

.footer {
    height: 70px;
    background-color:#F4EEE3;
    text-align: center;
    font-family: 'Didact Gothic', sans-serif;
}

.footer i:hover {
    color:#BF4342;    
}

.icon-social {
    font-size: 2.5em;
    padding-left: 10px;
    padding-right: 10px;
    color:#333333;
}

.footer p {
    color:#333333;
    font-size: 0.9em;
    padding-top:10px; 
}

    /*-- ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ Media queries ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ --*/
    

/*-- Small devices (landscape phones, 576px and up) --*/

@media (min-width: 576px) {
    
.landing-photo {
    background-image: url("../images/monkees.jpg");
    height:39%; 
    background-position: 50% 12%;
    background-size:125%;
}

.tour img {
    max-width: 90%;
    margin-bottom:30px;
}

.tour p {
    font-size: 0.90em;
}


    
}


/*-- Medium devices (tablets, 768px and up) --*/
    
@media (min-width: 768px) { 
    
.landing-photo {
    background-image: url("../images/monkees.jpg");
    height:46%; 
    background-position: 50% 08%;
    background-size:125%;
}

.album img {
    margin-left: auto;
    margin-right: auto;
    width: 90%;
}

.about img {
    margin-bottom:8px;
    max-width: 90%;
}

.about-text {
    padding-top: 20px;
    padding-bottom: 30px;
}

.title-div {
    padding-top:20px;
    padding-bottom:40px;
}
    
.tour p {
    font-size: 0.83em;
}


video {
    padding-bottom: 40px;
}

.tour img {
    max-width: 80%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom:50px;
}

.tour-padding {
    padding-top:5px;
    padding-bottom:5px;
}

.bookus img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding-top:35px;
    padding-bottom:40px;
}


.div-bottom-padding {
    padding-bottom: 40px;
}


}


/*-- Large devices (desktops, 992px and up) --*/

@media (min-width: 992px) { 

.landing-photo {
    background-image: url("../images/monkees.jpg");
    height:60%; 
    background-position: 50% 20%;
    background-size:100%;
}

h1 {
    letter-spacing: 14px;
    font-size: 5em;
}    
    
.title-div {
    padding-top:30px;
    padding-bottom:50px;
    
}

.about img {
    margin-bottom:8px;
    max-width: 90%;
}

.instrument {
    font-size: 1.1em;
}

.about-text {
    padding-top: 30px;
}
    
.title-div {
    padding-top:30px;
    
}    

.video-text {
    font-size: 3.5em;
}

video {
    width:90%;
    max-width: 900px;
    padding-top: 25px;
    padding-bottom: 20px; 
}

.music-video {
    text-align: center;
}

.tour img {
    max-width: 80%;
    margin-bottom:40px;
}

.tour-padding-top {
    padding-top: 25px;
}

.div-bottom-padding {
    padding-bottom: 50px;
}
    
}

/*-- Extra large devices (large desktops, 1200px and up) --*/

@media (min-width: 1200px) { 
    
.landing-photo {
    background-image: url("../images/monkees.jpg");
    height:80%; 
    background-position: 50% 20%;
    background-size:100%;
}
    
h1 {
    letter-spacing: 23px;
    font-size: 6.5em;
}    

.title-div {
    padding-top:40px;
    padding-bottom:60px;
}

.about-text p {
    text-align: left;
    font-size: 1.3em;
}

.instrument {
    font-size: 1.1em;
}

.about-text {
    padding-top: 40px;
    padding-bottom: 40px;
}

.music h5 {
    padding-top: 7px;
    padding-left: 20px;
    font-size: 1.5em;
}

.music li {
    font-size: 1.15em;
    letter-spacing: 0.7px;
}

.album {
    padding-bottom: 20px;
}

.video-text {
    font-size: 4.2em;
}

video {
    padding-top: 30px;
    padding-bottom: 45px; 
}

.tour p {
    font-size: 1.15em;
}

.tour-padding-top {
    padding-top: 50px;
}

.lead-padding {
    padding-bottom: 50px;
}

.div-bottom-padding {
    padding-bottom: 100px;
}

    
}